<div class='row'>
  <div class='span3'></div>
  <div class='span2'><h1>Reports</h1></div>
  <div class='span3'></div>
</div>

<% if @projects.empty? %>
  <div class='row'>
    <div class='span2'>
    <div class='span4'><em>There are no current projects</em></div>
    <div class='span2'>
  </div>    
<% else %>
  <div class='row'>
    <div class='span2'></div>    
    <div class='span2'><p><%= link_to "All projects", controller: "reports", action: "all"%></p></div>
    <div class='span2'><p><%= link_to "Statistics", controller: "reports", action: "statistics" %></p></div>
    <div class='span2'></div>
  </div>

  <div class='row'>
    <div class='span2'></div>
    <div class='span4'><%= select_tag "project_dropdown", options_from_collection_for_select(@projects, "id", "name")%></div>
    <div class='span2'></div>
  </div>

  <div class='row'>
    <div class='span2'></div>
    <div class='span4'><%= button_to "View Report", "javascript:buttonClicked()" %></div>
    <div class='span2'></div>
  </div>
<% end %>

<script>
	function buttonClicked() {
		var project_id = null;
		project_id = $("#project_dropdown").val();
		
    //works but problematic
	  window.location.replace(project_id);
	}
</script>