<h1>Reports</h1></div>

<% if @projects.empty? %>
  <em>There are no current projects</em></div>   
<% else %>
  <p><%= link_to "All projects", controller: "reports", action: "all"%></p>
  <p><%= link_to "Statistics", controller: "reports", action: "statistics" %></p>
    

  <%= select_tag "project_dropdown", options_from_collection_for_select(@projects, "id", "name")%>
    
  <%= button_to "View Report", "javascript:buttonClicked()" %>
    
<% end %>

<script>
	function buttonClicked() {
		var project_id = null;
		project_id = $("#project_dropdown").val();
		
    //works but problematic
	  window.location.replace(project_id);
	}
</script>