  <tr>
    <td colspan='2' style="text-align:center">
      <h1>Reports</h1>
    </td>
  </tr>
<% if @projects.empty? %>
  <tr class="alternating_even">
    <td colspan='3'><em>There are no current projects</em></td>
  </tr>
<% else %>
  <tr style="text-align:center">
  	<td>
      <%= link_to "All projects", controller: "reports", action: "all"%>
    </td>
    <td>
      <%= link_to "Statistics", controller: "reports", action: "statistics" %>
    </td>
  </tr>
  <tr>
    <td colspan='2' style="text-align:center">
  	  <%= select_tag "project_dropdown", options_from_collection_for_select(@projects, "id", "name")%>
  	</td>
  </tr>
  <tr style="text-align:center">
  	<td colspan='2' style="text-align:center">
  		<%= button_to "View Report", "javascript:buttonClicked()" %>
  	</td>
  </tr>
<% end %>

<script>
	function buttonClicked() {
		var project_id = null;
		project_id = $("#project_dropdown").val();
		
	  window.location.replace("");
	}
</script>